/* https://css-tricks.com/css-media-queries */
#sidebar ul li a {
    color: #900;
    text-decoration: none;
    padding: 3px 0;
    display: block;
}

@media print {
    #sidebar ul li a:after {
        content: " (" attr(data-email) ")";
        font-size: 12px;
        font-style: italic;
        color: #000;
    }
}


@media all and (max-width: 1000px) and (min-width: 705px) {
    #sidebar ul li a:before {
        content: "Email: ";
        font-style: italic;
        color: #666;
    }
}

@media all and (max-width: 695px) and (min-width: 925px) {
    #sidebar ul li a {
        padding-left: 21px;
        background: url(../images/email.png) left center no-repeat;
    }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) and (min-width: 350px) and (max-width: 695px) and (min-width: 1205px) {
    #sidebar ul li a {
        background: url(../images/emailx2.png) left center no-repeat;
    }
}

#sidebar ul li {
    padding: 10px;
    display: inline-block;
}

@media (min-width: 700px) {

#sidebar ul li {
        padding: 20px;
        display: block;
}
    }
